 <div>
    <!-- <img src="{{ initiative_site_url }}/static/img/email_banner_{{ initiative_community_id }}.jpg" alt="{{ initiative_name }}" width="650" style="display:block"> -->
    <br><br>
    Hola {{ author }},
    <br><br>
    Gracias por contribuir con la iniciativa <strong> {{ initiative_name }}</strong>.
    <br><br>
    No olvides de unirte a nuestro <a href="{{ group_url }}">Grupo de Facebook</a>, donde podrás expresar tus propias ideas y votar o comentar sobre las ideas de los demás participantes.
    <br><br>
    Cualquier consulta no dudes en escribirnos a este correo.
    <br><br>
    Desde ya muchas gracias.
    <br><br>
    Saludos cordiales
    <br><br>
    El equipo de <a href="{{ initiative_site_url }}">{{ initiative_name }}</a>
</div>
