{% load i18n %}

{% trans "Hi" %} {{ author }},
<br><br>
{% trans "It seems that there is a problem in trying to publish your" %} <a href="{{ content_utl }}">{{ type_content }}</a>
{% trans "on the" %} <a href="{{ community_url }}">{% trans "Facebook group" %}</a> of the initiative {{ initiative_name }}.
<br><br>
{% trans "Please go the" %} <a href="https://www.facebook.com/settings?tab=applications">{% trans "Apps sections" %}</a>
{% trans "in the settings of your Facebook account and change to public the visibility of the publications created by Social Ideation App; for detailed instuctions" %},
<a href="#instructions">{% trans "see below" %}</a>).

<br><br>
{% trans "Thanks!," %}
<br><br>
<i>Jorge Saldivar Galli</i>
<br>
<a href="http://www.social-ideation.com/?ref=autoemail">{% trans "Social Ideation App" %}</a>
<br><br>
{% trans "PS." %}
<br>
<p id="instructions">
{% trans "To change the visibility the publications created by Social Ideation App you need to" %}: <br>
1. {% trans "Click in the top of Facebook and select Settings" %};<br>
2. {% trans "Click Apps in the left menu" %};<br>
3. {% trans "Hover over Social Ideation and click on the pen;" %}<br>
4. {% trans "Choose the option Public from the top dropdown menu." %}
</p>
<br><br>

-----
<br>
{% trans "Social Ideation App is a part of a research project conducted by the" %}
<a href="http://lifeparticipation.org/">Life Participation Group</a>
{% trans "of the University of Trento (Italy) with the aim to exploit the advantages of social network " %}
{% trans "services to improving the technologies for civic participation. For more information, drop us an" %}
<a href="mailto:hola@social-ideation.com">email</a>