<div>
    <!-- <img src="{{ initiative_site_url }}/static/img/email_banner_{{ initiative_community_id }}.jpg" alt="{{ initiative_name }}" width="650" style="display:block"> -->
    <br><br>
    Muchas gracias {{ author }} por tu contribuci&oacute;n! 
    <br><br>
    Tu publicaci&oacute;n ha sido replicada en <a href="{{ url }}">{{ url_name }}</a>. Puedes ver tu {{ type_content }} <a href="{{ pub_url }} ">aqu&iacute;.</a>
    <br><br>
    Saludos cordiales.
    <br><br>
    El equipo de <a href="{{ initiative_site_url }}">{{ initiative_name }}.</a>
</div>
