<div>
    <!-- <img src="{{ initiative_site_url }}/static/img/email_banner_{{ initiative_community_id }}.jpg" alt="{{ initiative_name }}" width="650" style="display:block"> -->
    <br><br>
    Hola {{ author }},
    <br><br>
    Gracias por unirte a la iniciativa {{ initiative_name }}, estamos seguros que tus opiniones ser&aacute;n muy valiosas para nosotros.
    <br><br>
    Cualquier consulta no dudes en escribirnos a este correo.
    <br><br>
    Desde ya muchas gracias,
    <br><br>
    Saludos cordiales.
    <br><br>
    El equipo de <a href="{{ initiative_site_url }}">{{ initiative_name }}.</a>
</div>
