{% trans "Hi" %} {{ author }},
<br><br>
{% trans "Thanks for contributing to" %} {{ initiative_name }}!
<br><br>
{% trans "It would be really good if the people on the" %} <a href="{{ group_url }}">{% trans "Facebook group" %}</a>&nbsp;
{% trans "of the initiative are also involved in the discussion of your" %} {{ type_content }}.
<br><br>
{% trans "If you log into <b>Social Ideation App</b>, all your ideas and comments (including this one) are going to be automatically posted on your behalf on the Facebook group of the initiative." %}
<br><br>
{% trans "Click" %} <a href="http://www.social-ideation.com/?ref=autoemail#how-to-use">{% trans "HERE"}</a>&nbsp;
{% trans "if you want to log into the app" %} <b>({% trans "don\'t forget to go through each of the 3 logging steps" %})</b>.
<br><br>
{% "Thanks!," %}
<br><br>
<i>Jorge Saldivar Galli</i>
<br>
<a href="http://www.social-ideation.com/?ref=autoemail">{% trans "Social Ideation App" %}</a>
<br><br>
-----
<br>
{% trans "Social Ideation App is a part of a research project conducted by the" %}&nbsp;
<a href="http://lifeparticipation.org/">Life Participation Group</a>&nbsp;
{% trans "of the University of Trento (Italy) with the aim to exploit the advantages of social network " %}&nbsp;
{% trans "services to improving the technologies for civic participation. For more information, drop us an" %}&nbsp;
<a href="mailto:hola@social-ideation.com">email</a>