<div>
    <!-- <img src="{{ initiative_site_url }}/static/img/email_banner_{{ initiative_community_id }}.jpg" alt="{{ initiative_name }}" width="650" style="display:block"> -->
    <br><br>
    Hola {{ user }},
    <br><br>
    Quer&iacute;amos comentarte que la tem&aacute;tica "{{ campaign }}" ha sido agregada.
    <br><br> 
    <ul>
      <li>Para crear tus ideas desde el <a href="{{ group_url }}">Grupo de Facebook</a> debes usar el hashtag #{{ hashtag }}. </li>
      <li>Para crear tus ideas desde IdeaScale puedes acceder <a href="{{ initiative_url }}">aqu&iacute;</a>. </li>
    </ul>
    <br><br>
    Saludos cordiales,
    <br><br>
    El equipo de <a href="{{ initiative_site_url }}">{{ initiative_name }}.</a>
</div>
