<div>
    <!-- <img src="{{ initiative_site_url }}/static/img/email_banner_{{ initiative_community_id }}.jpg" alt="{{ initiative_name }}" width="650" style="display:block"> -->
    <br><br>
    Hola {{ parent_author }},
    <br><br>
    Tu {{ type_content }} ha recibido un nuevo comentario de {{ author }}, puedes acceder al mismo <a href="{{ link }}">aqu&iacute;</a>.
    <br><br>
    Saludos,
    <br><br>
    El equipo de <a href=" {{ initiative_site_url }} "> {{ initiative_name }} </a>
</div>
